<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form class="login-form">
          <div class="form-group">
            <label  class="text-uppercase">Username</label>
            <input name="uname" type="text" class="form-control" placeholder="Username" required autofocus [(ngModel)]="username">

          </div>
          <div class="form-group">
            <label  class="text-uppercase">Password</label>
            <input name="pass" type="password" class="form-control" placeholder="Password" required [(ngModel)]="password">
          </div>


          <div class="form-check">
           
            <button type="submit" class="btn btn-login float-right" (click)="login()"><a routerlink="/home">Submit</a></button>
          </div>

        </form>
        <div class="copy-text">
         Don't have an account?<a routerLink="/signup">Sign Up</a></div>
      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="../../assets/Images/beverage.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>High on Caffeine</h2>
                  <p></p> </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="../../assets/Images/close-up.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>High on Caffeine</h2>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>High on Caffeine</h2>
                  <p></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
